.container .row .col-12 {
    background-color: #666FAA;
}
.container .row .col-12 {
}
.row .col-12 h1 {
}
.jumbotron.text-center.mt-2 .container {
    background-image: url(images/Employee-training.png);
}
.navbar.navbar-expand-lg.navbar-dark.bg-dark {
}
.jumbotron.text-center.mt-2 {
}
.container .row .col-12.text-center {
    background-image: url(images/banner-elearning.png);

}
.container .row .col-md-4.col-12 {
    background-color: #A3CFE4;
}
.jumbotron.text-center.mt-2 {
    background-image: url(images/rapid-elearning-development-process-resources.jpg);
}
.navbar-nav.mr-auto .nav-item.active .nav-link {
    background-image: url(url);
}
.navbar-nav.mr-auto .nav-item.dropdown #navbarDropdown {
}
#navbarSupportedContent .form-inline.my-2.my-lg-0 .btn.btn-outline-success.my-2.my-sm-0 {
}
#navbarSupportedContent .form-inline.my-2.my-lg-0 .btn.btn-outline-success.my-2.my-sm-0 {
    color: #DFCFCF;
    background-color: #60B76C;
    background-image: -webkit-linear-gradient(270deg,rgba(89,92,116,1.00) 0%,rgba(255,0,0,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(89,92,116,1.00) 0%,rgba(255,0,0,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(89,92,116,1.00) 0%,rgba(255,0,0,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(89,92,116,1.00) 0%,rgba(255,0,0,1.00) 100%);
}
.container .row .col-12 {
    background-color: #9DCFD7;
}
.row .col-12 h1 {
    background-color: #B8E5E5;
}
.container .row .col-md-6.col-12.text-center {
    background-color: #E3E3E3;
}
.row .col-12.text-center h2 {
    background-color: #DADADA;
}
.row .col-12.text-center h2 {
}
.row .col-12 h1 {
}
body p {
}
.row .col-md-4.col-12 .text-center {
}
.container-fluid {
    background-color: #070707;
}
